<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mèn và Thúi</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='icons8_heart_outline_48_SfI_icon.ico')}}">
      {% include 'meta-data.html' %}
  </head>
  <body>
    <!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("../static/image/newBg.png");
    min-height: 75%;
}
.menu {
    display: none;
}
</style>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="#about" class="w3-button w3-block w3-black">OUR STORY</a>
    </div>
    <div class="w3-col s3">
      <a href="{{url_for('story')}}" class="w3-button w3-block w3-black">BLOG</a>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
    <span class="w3-tag">Since 2016</span>
  </div>


</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Our story</span></h5>
    <p>Câu chuyện của chúng mình bắt đầu từ những năm tháng cấp 3</p>
    <p>"Tôi đổ rồi, thật đấy!!" Mèn said vào đêm 4/5/2016</p>
    <p>Đến bây giờ thì gần 3 năm rùi đó!!</p>
    <p>Trong lá thư hồi ý có đứa viết là "đừng để "bạn" cậu phải dỗi linh tinh nữa", thật ra thỉnh thoảng vẫn làm mèn dỗi hì hì =)))</p>
    <p>Nhưng rồi bao lần giận nhau, thúi vẫn luôn ở lại với mèn đó!! </p>
    <p>Hết "sợ someone lại đi" chưa =))) </p>
    
    
    <p></p>
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p><i>Thúi-Mèn "couple-special"!!!</i></p>
      <p></p>
    </div>

  </div>
</div>

<!-- Menu Container -->
<div class="w-100 d-flex justify-content-around" >
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../static/image/45800833_1164157447066004_4260783878924402688_n.jpg" >
  <div class="card-body">
    <h5 class="card-title">Nguyễn Tiến Thành</h5>
    <p class="card-text">Thúi!</p>

  </div>
  </div>

  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../static/image/menn.jpg" >
  <div class="card-body">
    <h5 class="card-title">Hoàng Phương Anh</h5>
    <p class="card-text">Mèn!</p>

  </div>
  </div>

</div>

</body>
</html>

  </body>
</html>
