<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>

    <div class="login-page">
      <div class="form">
        <form class="login-form"  method="POST">
          <input type="text"  name="username" placeholder="Username"/>
          <input type="password" name="password" placeholder="Password"/>
          <button type="submit" >Login</button>

        </form>
      </div>
    </div>
  </body>
</html>
